<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonLibrary" version="2.2.0.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Excel-DNA" version="0.33.9" targetFramework="net45" />
  <package id="ExcelDna.AddIn" version="0.33.9" targetFramework="net45" />
  <package id="ExcelDna.Integration" version="0.33.9" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net45" />
  <package id="NetOffice.Excel" version="1.7.3.0" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.3.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.2.3.0" targetFramework="net45" />
  <package id="Prism.Core" version="6.1.0" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net45" />
  <package id="Prism.Ninject" version="6.1.0" targetFramework="net45" />
  <package id="Prism.Wpf" version="6.1.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
</packages>